.formLayout{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.form-design {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #f0f2f585;
    padding: 70px 20px;
    
    border-radius: 7px;
}
.form-designView{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #f0f2f585;
    padding: 70px 20px;
    
    border-radius: 7px;
}