.gallery-btn{
    padding: 10px 30px;
    background-color: white;
    border-color: #c1272d;
    box-shadow: none;
    outline-color: white;
}
.gallery-btn:hover{
    background-color: #c1272d;
    color: white;
    transition: 0.3s;
}
.gallery-btn:active{
    background-color: #c1272d;
    color: white;
    transition: 0.3s;
}
.category-btn{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 575.98px) {
    .gallery-btn{
        margin: 5px 0;
    }
    .category-btn{
        flex-wrap: wrap;
    }
}
@media (max-width:767.98px) {
    .gallery-btn{
        margin: 5px 0;
    }
    .category-btn{
        flex-wrap: wrap;
    }
}