.about-us {
  margin: 115px 0 50px 0;
}
.about-us h2 {
  font-size: 35px;
  font-weight: bold;
}
.about-us p {
  width: 55%;
  text-align: center;
  font-size: 15px;
}
.icon-color {
  font-size: 40px;
  color: #c1272d;
}
@media (max-width: 575.98px) {
  .about-us {
    margin: 65px 0 50px 0;
  }
  .about-card .card {
    margin: 10px 0;
  }
  .about-us h2 {
    font-size: 25px;
  }
  .about-us p {
    width: 90%;
  }
}
@media (max-width:767.98px) {
  .about-us p {
    width: 90%;
  }
 

}
@media (max-width: 991.98px) {
  .about-card .card{
    margin: 5px 0;
  }
}